* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

.side-hero {
    width: 40vw;
    height: 100vh;
    background-image: url(images/pexels-francesco-ungaro-3828753.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.form-section {
    width: 60vw;
    background-color: rgb(187, 192, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 2vw;
    background-color: rgb(216, 238, 253);
}
.input-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 2vw;
    background-color: rgb(156, 179, 252);
}
label {
    font-size: 1rem;
}
.submit-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 2vw;
    background-color: rgb(171, 143, 255);
}