* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.main {
    display: flex;
}

.side-hero {
    width: 40vw;
    height: 100vh;
    background-image: url(images/pexels-francesco-ungaro-3828753.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.form-section {
    width: 60vw;
    background-color: rgb(0, 32, 60) ;
    color: rgb(197, 255, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 3vw;
    
}
.input-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 3vw 3rem 3vw;
    background-color: rgb(0, 45, 85);
    display: flex;
    flex-direction: column;
}

p {
    margin: 1rem 0;
}

#my-form {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1.5rem;
}

.form-row input{
    padding: .3rem .5rem;
    font-size: 1.2rem;
    width: 250px;
    border: none;
    border-radius: .3rem;
    background-color: #245a83;
    color: white;
}

label {
    font-size: 1rem;
}
.submit-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 3vw;
}

button {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: .6rem;
    border: none;
    background-color: rgb(0, 98, 255);
    color: white;
}

button:hover {
    background-color: rgb(39, 122, 255);
}

button:active {
    scale: 0.96;
}

.side-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    position: relative;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    top: -196px;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    
}

.logo img{
    width: 100px;
    height: 100px;
}