* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.main {
    display: flex;
}

.side-hero {
    width: 40vw;
    height: 100vh;
    background-image: url(images/pexels-francesco-ungaro-3828753.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-section {
    width: 60vw;
    background-color: rgb(0, 32, 60);
    color: rgb(197, 255, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 3vw;

}

.input-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 3vw 3rem 3vw;
    background-color: rgb(0, 45, 85);
    display: flex;
    flex-direction: column;
}

p {
    margin: 1rem 0;
}

.input-section>p {
    margin-bottom: 3rem;
}

#my-form {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.form-row input {
    position: relative;
    padding: .3rem .5rem;
    font-size: 1.2rem;
    width: 250px;
    border: none;
    outline: 2px transparent solid;
    border-radius: .3rem;
    background-color: #245a83;
    color: white;
    transition: all 0.4s ease-in-out;
}

.form-row label {
    user-select: none;
    position: absolute;
    padding-left: 0.5rem;
    font-size: 1rem;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}

/* Validation styles */

:focus {
    outline: 0;
}

.form-row input:invalid {
    outline: 2px rgb(255, 100, 43) solid;
}

.form-row input:invalid:focus {
    outline: 2px rgb(174, 206, 255) solid;
}

.form-row input:optional:focus {
    outline: 2px rgb(174, 206, 255) solid;
}

.form-row input:optional:not(:placeholder-shown):valid:focus {
    outline: 2px rgb(172, 255, 47) solid;
    background-color: rgba(153, 255, 0, 0.343);
}

.form-row input:invalid:focus:not(:placeholder-shown) {
    outline: 2px rgb(255, 100, 43) solid;
    background-color: rgba(255, 100, 83, 0.559);
}

.form-row input:focus+label,
.form-row input:not(:placeholder-shown)+label {
    transform: translateY(-28px);
    font-size: 0.8rem;
}

.form-row input:valid {
    outline: 2px rgb(172, 255, 47) solid;
}

.form-row input:focus:valid {
    background-color: rgba(153, 255, 0, 0.343);
}

.form-row input:focus:optional {
    background-color: #245a83;
}

.form-row input:placeholder-shown {
    outline: 2px transparent solid;
}

/*-----------------*/

.submit-section {
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem 3vw;
}

button {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: .6rem;
    border: none;
    background-color: rgb(0, 98, 255);
    color: white;
}

button:hover {
    background-color: rgb(39, 122, 255);
}

button:active {
    scale: 0.96;
}

.side-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    position: relative;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    top: -196px;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);

}

.logo img {
    width: 100px;
    height: 100px;
}